# This file itself
/.github/CODEOWNERS     @ROCm/TheRock-infra-admins

# Regularly updated submodules
/rocm-libraries         @ROCm/TheRock-infra-write
/rocm-systems           @ROCm/TheRock-infra-write

# New patches are strongly discouraged. See patches/README.md.
/patches/               @ScottTodd @marbre @skganesan008

# This file accumulated unrelated code, tighten reviews until cleaned up.
/build_tools/github_actions/github_actions_api.py       @ScottTodd

# Debug tools configs and ROCgdb cmake wrapper.
/debug-tools            @ROCm/TheRock-infra-write @ROCm/ROCm-DevTools-Debugger
/debug-tools/rocgdb     @ROCm/TheRock-infra-write @ROCm/ROCm-DevTools-Debugger

# Debug tools testing scripts.
/build_tools/github_actions/test_executable_scripts/test_rocgdb.py           @ROCm/ROCm-DevTools-Debugger
/build_tools/github_actions/test_executable_scripts/test_rocr-debug-agent.py @ROCm/ROCm-DevTools-Debugger

# RFCs
/docs/rfcs              @ROCm/rocm-product-managers
